/* AllGoalsLayout.css */

.tabs-container {
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.tab-content {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.all-company-goals-view-container {
  overflow-x: auto; /* Ensures responsiveness */
}

@media (max-width: 600px) {
  .all-company-goals-view-container {
    font-size: 0.875rem; /* Adjust font size for mobile */
  }

  .tabs {
    justify-content: start;
  }
}
