.account-table {
  background-color: green;
  /* background-color: #fdfdfd; */
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.account-title {
  margin: 16px;
  font-weight: bold;
  color: #333;
}

.account-actions {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

tr:hover {
  background-color: #f0f8ff;
}
