.edit-post-modal-container {
  max-width: 550px;
  margin: 4rem auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: relative;
}

.close-modal-button {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-post-header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.store-title, .store-address {
  width: 100%;
  text-align: center;
  margin: 5px;
}

.image-container {
  margin-top: 10px;
}

.image {
  max-height: 200px;
  width: auto;
  margin: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.description-input, .select-input {
  margin-top: 1.5rem;
}

.save-btn {
  margin-top: 10px;
  height: 30px;
}

.delete-btn {
  margin-top: 0.5rem;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
  .edit-post-modal-container {
    padding: 15px;
  }

  .description-input, .select-input {
    font-size: 14px;
  }

  .save-btn, .delete-btn {
    height: 35px;
  }
}
