.map-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.map-container h4 {
  margin: 5px;
}

.map-box {
  border-radius: 5px;
}

.map-container a {
  color: blue;
}

.store-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.store-name-and-number {
  display: flex;
}

.store-address-container h4 {
  margin: 5px;
}

.store-address-input-box {
  width: 95%;
  margin-bottom: 10px;
}

.store-address-input-box .input-field {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.store-address-input-box .input-field input {
  width: 100%;
  height: 30px;
}

.store-input-box p {
  color: var(--text-color);
  margin: 10px 0px 0px;
}

.store-name-input-box,
.store-number-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#store-name {
  width: 150px;
}

#store-number {
  width: 100px;
}

input {
  margin-top: 5px;
  border-radius: 5px;
  height: 30px;
}

@media (max-width: 600px) {
  /* Your styles for tablets */
  .store-input-box {
    /* flex-direction: column; */
  }
}
