.mobile-product-card {
  padding: 12px;
  background-color: transparent;
  height: 100%;
}

.mobile-product-card-inner {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6px 12px;
  border: 1px solid var(--card-outline);
  border-radius: 8px;
  width: 100%;
  /* background-color: var(--white); */
}


.mobile-product-label {
  font-weight: 600;
  text-align: left;
  padding: 6px;
  /* background-color: var(--gray-100); */
  border-radius: 4px 0 0 4px;
}

.mobile-product-value {
  padding: 6px;
  /* background-color: var(--gray-50); */
  border-radius: 0 4px 4px 0;
  font-weight: 400;
  color: var(--text-color);
  word-break: break-word;
}

.mobile-product-actions {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 8px;
}

.mobile-product-actions button {
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
}

.mobile-product-actions .product-edit-btn {
  background-color: var(--primary-blue);
  color: var(--white);
}

.mobile-product-actions .product-delete-btn {
  background-color: red;
  color: var(--white);
}
