.product-list-wrapper {
  border-radius: 8px;
  border: 1px solid var(--card-outline);
  max-width: 100%;
  overflow: hidden;
  font-family: sans-serif;
  padding-top: 1rem;
}

.product-list-scrollable {
  overflow-x: auto;
  width: 100%;
}

.product-table-header,
.product-row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.25rem;
  border-bottom: 1px solid #ddd;
  background-color: #f8f9fa;
}

.product-row {
  background-color: white;
}

.product-cell {
  padding: 0.25rem 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  min-height: 100%;
  box-sizing: border-box;
}

/* Column width control */
.product-column-id {
  flex: 0 0 60px;
}

.product-column-name {
  flex: 1 1 130px;
  white-space: normal;
  text-wrap: wrap;
  text-align: justify;
}

.product-column-package {
  flex: 1 1 110px;
  white-space: normal;
  text-wrap: wrap;
  text-align: justify;
}

.product-column-brand {
  flex: 1 1 100px;
  text-wrap: wrap;
  text-align: justify;
}

.product-column-family {
  flex: 1 1 100px;
  text-wrap: wrap;
  text-align: justify;
}

.product-column-supplier {
  flex: 1 1 100px;
  text-wrap: wrap;
  text-align: justify;
}

.product-column-number {
  flex: 0 0 80px;
}

.product-column-actions {
  flex: 0 0 150px;
  gap: 0.25rem;
}

.product-edit-btn {
  background-color: var(--primary-blue);
  color: var(--white);
}

.product-delete-btn {
  background-color: red;
  color: var(--white);
}

/* Responsive stacking fallback */
@media (max-width: 768px) {
  .product-row {
    font-size: 0.75rem;
    /* flex-wrap: wrap; */
    flex-direction: column;
    height: 400px;
  }

  .product-cell {
    white-space: normal;
    word-break: break-word;
    font-size: 0.75rem;
  }
}

