.activity-feed-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hashtag-search-box {
  max-width: 90%;
  display: flex;
}

.search-button {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
  color: black;
}

.list-card {
  width: 400px;
}

@media (max-width: 1100px) {
  /* Your styles for tablets */
  .activity-feed-box {
    margin-top: 0px;
  }
}