.category-selector {
  width: 45%;
  height: 2rem;
  padding-left: 1rem;
  font-weight: 700;
  background-color: var(--button-background);
  /* color: black; */
  color: var(--button-text-color);
}

@media (max-width: 1100px) {
  /* Your styles for tablets */
  select {
    width: 400px;
  }
}