.comment-field {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.new-comment-container {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.new-comment-container button {
  align-self: flex-end;
}
