.comment-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.comment-modal-content {
  display: flex;
  background-color: var(--input-background);
  color: var(--input-text-color);
  padding: 20px;
  border-radius: 5px;
  max-height: 80%;
  overflow-y: auto;
  width: 50%;
}

.comment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.comment-name-text {
  display: flex;
  align-items: center;
}

.comment-user-name {
  font-weight: bold;
  cursor: pointer;
  color: #007bff;
}

.comment-text {
  margin: 5px 5px;
}

.comment-actions {
  display: flex;
  align-items: center;
}

.like-button, .delete-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
}
