.comment-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.comment-modal-content {
  display: flex;
  background-color: var(--input-background);
  color: var(--input-text-color);
  padding: 20px;
  border-radius: 5px;
  max-height: 80%;
  overflow-y: auto;
  width: auto;
  min-width: 50%;
}

.comment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  min-width: 95%;
}

.comment-name-text {
  display: flex;
  align-items: center;
  width: 100%;
  text-wrap: nowrap;
}

.comment-user-name {
  font-weight: bold;
  cursor: pointer;
  color: #007bff;
  margin-right: 1rem;
}

.comment-text {
  margin: 5px 5px;
  background-color: whitesmoke;
  width: 100%;
  padding-left: 5px;
  
}

.comment-actions {
  display: flex;
  align-items: center;
}

.like-button, .delete-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
}


/* Styles for tablets */
@media (max-width: 1200px) {
  .comment-modal {
    width: auto;
  }
}

/* Styles for mobile devices */
@media (max-width: 600px) {
  /* Your styles for mobile devices */
  .comment-modal {
    width: 95%;
  }
}


