.property-zone,
.supplier-brands-selector {
  display: flex;
  justify-content: space-around;
}


.create-post-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--form-background-color);
  padding: 5px;
  border-radius: 5px;
  height: 100vh;
  width: 70%;
  margin-top: 40px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.image-and-details {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
  width: 80%;
}

.image-selection-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-box {
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  overflow: hidden; /* In case the image is too large */
  max-height: 400px; /* Set a maximum height for the image container */
  width: 100%; /* Container takes full width */
  /* border: 1px solid black; */
}

.post-image {
  max-height: 400px; /* Set a maximum height for the image */
  width: auto; /* Maintain the aspect ratio */
  /* max-width: 100%; Make sure the image is not wider than the container */
}

h4,
h6 {
  margin: 3px;
}

select {
  border-radius: 5px;
}

.property-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.description-box {
  width: 300px;
}

@media (max-width: 900px) {
  /* Your styles for tablets */
  .create-post-container {
  width: 100vw;
  overflow-y: scroll;
  width: auto;
  }

  .image-and-details {
    flex-direction: column;
  }

  .image-box {
    max-height: 250px;
  }
}
