.edit-post-modal-container {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
  max-width: 400px;
  margin: auto;
}

.edit-post-header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.store-title, .store-address {
  width: 100%;
  text-align: center;
  margin: 5px;
}

.image-container {
  margin-top: 10px;
}

.image {
  max-height: 200px;
  width: auto;
  margin: auto;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description-input, .select-input {
  margin-top: 10px;
}

.save-btn {
  margin-top: 10px;
  height: 30px;
}

.delete-btn {
  margin-top: 10px;
  color: red;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
  .edit-post-modal-container {
    padding: 15px;
  }

  .image {
    max-height: 250px;
  }

  .description-input, .select-input {
    font-size: 14px;
  }

  .save-btn, .delete-btn {
    height: 35px;
  }
}
