.location-selection-container {
  width: 200px;
}

.filter-box {
  margin-right: 10px;
}

#state-multiple-chip-label {
  margin-right: 20px;
}

.close-box {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 5px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  /* Your styles for tablets */
  .btn {
    height: 50px;
  }

  .location-selection-container {
    display: flex;
    flex-direction: row;
  }
 
}