.theme-search-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hashtag-search-box {
  background-color: var(--form-background-color);
  display: flex;
  min-width: 50%;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-background);
  color: var(--button-text-color);
  font-size: 1rem;
  width: auto;
}