.header-bar {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--header-title);
  box-shadow: 0 5px 5px rgba(229, 229, 241, 0.5);
  padding: 0.2rem .5rem;
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
}

.hamburger-menu-button {
  display: none; /* Hidden by default */
  cursor: pointer;
  z-index: 11;
  font-size: 30px;
  color: whitesmoke;
}

.logo-title-box {
  display: flex;
  align-items: center;
}

.website-title {
  margin: 0rem 1rem;
  color: var(--text-color);
}

.website-title {
  margin: 0;
  font-size: smaller;
}

.website-title h1, .website-title h2 {
  margin: 0;
}


.menu-buttons {
  display: flex;
  justify-content: space-around;
  /* width: 50%; */
}

.profile-btn {
  width: 14rem;
  font-size: smaller;
}



.profile-btn, .create-post-btn, .log-out-btn, .filter-menu-button {
  margin-right: 30px;
  max-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-menu-button {
  display: none;
  /* width: 100%; */
}


/* Styles for tablets */
@media (max-width: 1200px) {
  .header-bar h1 {
    font-size: 2rem;
  }
  .header-bar h4 {
    font-size: 1rem;
  }

  button h3 {
    font-size: 1rem;
  }
}

/* Styles for mobile devices */
@media (max-width: 900px) {
  /* Your styles for mobile devices */
  .filter-menu-button {
    display: block;
  }

  .about-button {
    display: none;
  }
  
  .profile-btn h3 {
    font-size: .8rem;
  }

  button h3 {
    font-size: .8rem;
  }
}

/* Styles for mobile devices */
@media (max-width: 780px) {
  /* Your styles for mobile devices */
  .header-bar h1 {
    font-size: 1rem;
  }
  .header-bar h4 {
    font-size: .8rem;
  }

  .profile-btn {
    padding: .5rem;
    width: 9rem;
  }

  .create-post-btn {
    width: 7rem;
  }

  .button {
    padding: .5rem;
    width: 5rem;
  }

}
/* Styles for mobile devices */
@media (max-width: 670px) {
  /* Your styles for mobile devices */
  .hamburger-menu-button {
    display: block; /* Show hamburger menu button */
  }

  .create-post-btn, .filter-menu-button {
    display: none; /* Hide these buttons on small screens */
  }
}


/* Styles for mobile devices */
@media (max-width: 600px) {
  /* Your styles for mobile devices */

}