.left-side-bar {
  min-width: 200px;
  background-color: var(--charcoal-grey);
  height: 100%;
  margin: 5px;
  width: 100%;
  padding: 5px;
}

.onboarding-tutorial-intro-box { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--post-card-background);
  border-radius: 5px;
  margin-top: 5px;
}