/* menuTab.css */
.menu-tab {
  position: fixed;
  width: 50%;
  top: 0;
  right: -100%; /* Initially hidden */
  background-color: transparent;
  z-index: 10;
  transition: left 0.5s ease-in-out;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.menu-tab.open {
  right: 0; /* Slide in */
}

.menu-option {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background: var(--menu-background-color);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 5px;
}

/* Add responsive styling if needed */
