.new-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  background-color: var(--form-background-color);
  margin: 5px;
  height: fit-content;
}

.new-section button {
  width: 100%;
}