.card-content {
  /* display: flex;
  flex-direction: column; */
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.image-new-comment-box {
  display: inline-block; /* or just 'inline-block' if you prefer */
  flex-direction: column;
  align-items: flex-start; /* aligns items to the start of the flex container */
}

.image-new-comment-box .post-image {
  max-height: 550px;
  width: auto; /* ensures the image scales with its height */
}

.post-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: visible;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.post-header {
  margin: 0px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.05);
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.header-bottom {
  display: flex;
  width: 100%;
}

.post-user-details {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%
}

.likes-comments {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5); /* Muted color if not liked by user */
  font-size: 10px;
}

h5 {
  margin: 0px;
}

.store-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.store-details h5 {
  display: flex;
  justify-content: flex-start;
}

.edit-block {
  width: 8rem;
}

.share-edit-block {
  display: flex;
}

.post-card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.post-card img.post-image {
  border-radius: 5px;
  margin-bottom: 3px;
  width: auto;
  display: block;
  /* transition: box-shadow 0.5s ease; */
}

.post-card-content {
  padding: 15px;
}

.post-card-content .edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hash-tags {
  margin-bottom: 10px;
}



.comments-button {
  border: none;
  background-color: #e0e0e0;
}



.header-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.new-comment-container {
  display: flex;
}

@media (max-width: 1000px) {
  .image-new-comment-box .post-image {
    max-height: 500px;
    width: auto; /* ensures the image scales with its height */
  }
}
@media (max-width: 670px) {
  .post-card img.post-image {
    height: 450px; 
  }
}
