.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--post-card-background);
  padding-bottom: 1rem;
  padding-top: auto;
  margin: 0;
  justify-content: space-around;
  /* border-radius: 5px; */
  /* border: 3px solid black; */
}

.visibility {
  width: 100%;
  display: flex;
  justify-content: start;
}

.image-new-comment-box {
  display: flex; /* or just 'inline-block' if you prefer */
  flex-direction: column;
  align-items: center; /* aligns items to the start of the flex container */
  justify-content: center;
}

.image-new-comment-box .post-image {
  max-height: 500px;
  max-width: 95%;
  width: auto; /* ensures the image scales with its height */
}

.post-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  /* border-radius: 5px; */
  overflow: visible;
  position: relative;
}

.post-header {
  margin: 0px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.edit-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}

.edit-block button {
  font-size: smaller;
}
.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%
}

.user-company-box {
  display: flex;
  align-items: center;
}

.share-button-container {
  position:absolute;
  left: 40%;
}

.visibility-edit-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 1rem;

}

.edit-box {
 max-height: 100%;
}

.view-box {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom-left-radius: 3px;
  height: 100%;
  width: 100%;
}

.likes-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5); /* Muted color if not liked by user */
  font-size: 10px;
}

h5 {
  margin: 0px;
}

.store-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.store-name-number {
  display: flex;
  width: 100%;
}

.details-date {
  display: flex;
  justify-content: space-between;
}

.store-details h5 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-card img.post-image {
  border-radius: 5px;
  margin-bottom: 3px;
  width: auto;
  display: block;
}

.post-card-content {
  padding: 15px;
}

.hash-tags {
  margin-bottom: 10px;
}

.comment-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 4px;
}

.comment-button-container button {
  height: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: x-small;
  border-radius: 1px;
  box-shadow: none;
}

.header-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.new-comment-container {
  display: flex;
}

@media (max-width: 1000px) {
  .image-new-comment-box .post-image {
    max-height: 500px;
    width: auto; /* ensures the image scales with its height */
  }
}
@media (max-width: 670px) {
  .post-card img.post-image {
    max-height: 400px; 
  }
}

@media (max-width: 470px) {
  .post-card img.post-image {
    max-height: 300px; 
  }
}
