.side-bar-box {
  width: 100%;
  padding: 20px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--form-background-color);
  /* background: rgb(4,12,32);
background: linear-gradient(0deg, rgba(4,12,32,1) 11%, rgba(168,174,213,1) 75%);
  height: 100%; */
  box-shadow: 0 5px 5px rgba(229, 229, 241, 0.5);
}

.location-filter-container {
  display: flex;
  width: 60%;
}

.channel-category-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  width: 60%;
}

/* .filter-by-content {
  display: flex;
  justify-content: space-between;
  width: 60%;
} */

.MuiButton-root {
  margin-bottom: 20px;
}

.clear-apply-button-box {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  width: 60%;
  justify-content: space-between;
  padding: 1rem;
}

@media (max-width: 1100px) {
  /* Your styles for tablets */
  .side-bar-box {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
  }

  /* .filter-by-content {
    width: 100%;
  } */

  .btn {
    height: 50px;
  }
 
  .MuiGrid-root {
    width: 100%;
  }

  .channel-category-box {
    display: flex;
    /* width: 100%; */
    /* flex-direction: row; */
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .channel-category-box {
  flex-direction: row;
  }

  .location-filter-container {
    width: 200px;
  }

  .clear-apply-button-box {
  flex-direction: row;
  justify-content: space-around;
  }
}

@media (min-width: 900px) {

  .close-side-bar-button {
  display: none;
  }
}

@media (max-width: 900px) {
  .side-bar-box {
    flex-direction: column;
    padding:  20px 10px;
  }
}