/* signUpLogin.css */
.sign-up-container {
  border-radius: 5px;
  width: auto;
  max-width: 100vw;
  height: auto;
  background-color: var(--form-background-color);
  padding: 10px;
}

.MuiFormControl-root {
  max-width: 100%;
}

.MuiInputBase-root {
  max-width: 100%;
}

.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.sign-up-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:var(--background-color);
  height: 100vh;
  min-width: 100vw;
}

.outer-frame {
  border: 1px solid black;
  border-radius: 8px;
}

/* Container that surrounds the form */


/* Lines that jut out from the sides */
.outer-container::before,
.outer-container::after {
  content: "";
  width: 2px;
  height: 50px;
  background: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.outer-container::before {
  left: -10px;
}

.outer-container::after {
  right: -10px;
}

/* Input styles */

button {
  /* background-color: var(--button-background); */
  background-color: pink;
}

/* Pulsing light effect */
@keyframes pulseLight {
  0% {
    box-shadow: 0 0 5px #00f;
  }
  50% {
    box-shadow: 0 0 20px #00f, 0 0 30px #00f;
  }
  100% {
    box-shadow: 0 0 5px #00f;
  }
}

