

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.user-modal {
  /* height: 400px; */
  height: auto;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: relative; /* To position close button and other absolute elements */
  transition: transform 0.3s ease; /* Smooth entrance */
  transform: scale(1.05);
  animation: popIn 0.3s forwards;
}

@keyframes popIn {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
  color: #aaa;
  transition: color 0.2s ease;
}

.close:hover {
  color: #777;
}

.modal h2 {
  margin-top: 0; /* Adjust according to your preference */
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.user-company, .user-email {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.user-email a {
  color: #0077cc; /* Blue color for links */
  text-decoration: none; /* Remove underline */
  transition: color 0.2s ease;
}

.user-email a:hover {
  color: #0055aa; /* Darker blue on hover */
}

