/*  userHomePage.css */
.tool-bar {
  display: flex;
  justify-content: space-between;
  color:blanchedalmond;
}


.menu-buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}


.profile-btn, .create-post-btn, .log-out-btn {
  margin-right: 30px;
}

.create-post-btn {
  background-color: rgb(23, 114, 84);
  /* color: black; */
}

.container-user-home-page {
  position: relative;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.home-page-content {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.side-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* Styles for tablets */
@media (max-width: 1100px) {
  /* Your styles for tablets */

  .home-page-content {
    flex-direction: column;
  }

  .side-bar-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    top: 70px;
    left: 0px;
  }

  .post-content-filter {
    margin-right: 40px;
  }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  /* Your styles for mobile devices */
}