.cell-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.user-search-input {
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  color: var(--text-color);
  width: 220px;
}

.clear-search-button {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  font-size: .75rem;
  color: var(--text-color);
  cursor: pointer;
  padding: 2px 7px;
  margin: 2px
}

.row-actions {
  position: relative;
  display: inline-block;
}

.action-button {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--text-color);
  padding: 4px;
  border-radius: 4px;
}

.action-button:hover {
  background-color: var(--outlined-button-hover);
}

.action-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--menu-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  z-index: 10;
  min-width: 140px;
  padding: 4px 0;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  font-size: 0.875rem;
  cursor: pointer;
  color: var(--text-color);
}

.action-item:hover {
  background-color: var(--outlined-button-hover);
}

.user-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--dashboard-card, white);
  color: var(--text-color);
}

.user-card-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;
}

.user-card-name-role {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  gap: 2px;
  width: 100%;
}

.user-card-name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.user-card-meta {
  font-size: 0.875rem;
  color: var(--gray-600);
}

.user-card-content {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.user-card-email {
  font-size: 0.875rem;
  color: var(--text-color);
}

.user-card-phone {
  font-size: 0.875rem;
  color: var(--gray-600);
}

.user-card-status {
  padding-top: 0.5rem;
}

.user-card-footer {
  margin-top: 0.75rem;
  font-size: 0.75rem;
  display: flex;
  gap: 0.5rem;
  opacity: 0.7;
}
