.account-list-wrapper {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  max-width: 100%;
}

.account-list-wrapper .account-list-scrollable {
  overflow-x: auto;
}

.account-list-wrapper .account-table-header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding: 0.5rem;
  min-width: 700px;
  align-items: center;
}

.account-list-wrapper .account-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  min-width: 700px;
}

.account-list-wrapper .account-cell {
  flex: 1;
  display: flex;
  justify-content: start;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.account-list-wrapper .address-cell,
.account-list-wrapper .submitted-at-cell,
.account-list-wrapper .submitted-by-cell {
  font-size: smaller;
  min-width: 10rem;
}

.account-list-wrapper .address-cell {
  min-width: 20rem;
}

.account-list-wrapper .name-cell {
  min-width: 15rem;
}

.account-list-wrapper .account-small-cell {
  display: flex;
  flex: 0.25;
  min-width: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-list-wrapper .view-post-button {
  padding: 4px 8px;
  font-size: 0.875rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.account-list-wrapper .view-post-button:hover {
  background-color: #125aa3;
}

/* Responsive */
@media (max-width: 768px) {
  .account-list-wrapper .account-table th,
  .account-list-wrapper .account-table td {
    padding: 10px 12px;
    font-size: 0.85rem;
  }

  .account-list-wrapper .view-post-button {
    font-size: 0.8rem;
    padding: 4px 6px;
  }
}
