.activity-feed-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  /* max-width: 100%; */
}

.top-of-activity-feed {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.top-af-top {
  display: flex;
  justify-content: space-around;
  height: 3rem;
}

.top-af-top button {
  height: 2.5rem;
  text-align: center;
  display: flex;

}

.header-right-side-box {
  display: none;
}

.list-card {
  width: 400px;
  margin-bottom: 20px;
  height: 900px;
}


/* Mobile devices */
@media (max-width: 320px) {
  /* Styles for small smartphones */
}

@media (min-width: 321px) and (max-width: 375px) {
  /* Styles for medium smartphones */
}

@media (min-width: 376px) and (max-width: 414px) {
  /* Styles for large smartphones */
}

/* Tablets */
@media (min-width: 600px) and (max-width: 768px) {
  /* Styles for small tablets in portrait */
}

/* Styles for mobile devices */
@media (min-width: 900px) {
  /* Your styles for mobile devices */
  .top-of-activity-feed {
    display: none;
  }
  
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for large tablets in portrait/landscape */
 
}

/* Laptops and Desktops */
@media (min-width: 1100px) {
  /* Styles for small to medium screens */
  
}

@media (min-width: 1367px) and (max-width: 1920px) {
  /* Styles for large screens */
}

@media (min-width: 1921px) {
  /* Styles for extra-large screens */
}