.blur-up-image-wrapper {
  position: relative;
  max-width: 100%;
  width: auto;
  /* aspect-ratio: 4 / 3; */
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.low-res {
  filter: blur(10px);
  transform: scale(1.05);
  z-index: 1;
}

.full-res {
  z-index: 2;
}


.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}
