.comment-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.comment-modal-content {
  max-height: 85vh;
  width: 90vw;
  max-width: 720px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px; /* spacing between comments */
  padding: 1rem;
  background-color: var(--background-pop-out-body);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}

.comment-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75 rem;
  padding: 0.75rem;
  background: var(--input-background);
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.3s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.comment-name-text {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.comment-user-name {
  font-weight: bold;
  cursor: pointer;
}

.comment-text {
  margin: 0.25rem 0;
  color: var(--text-color);
}

.comment-timestamp {
  font-size: 0.75rem;
  color: var(--text-color);
  margin-top: 4px;
}

.trash-box {
  margin-left: 1rem;
}

.comment-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.like-button,
.delete-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
}

/* Styles for tablets */
@media (max-width: 1200px) {
  .comment-modal {
    width: auto;
  }
}

/* Styles for mobile devices */
@media (max-width: 600px) {
  /* Your styles for mobile devices */
  .comment-modal {
    width: 95%;
  }
}
