.comment-section-box {
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  width: 100%;
  bottom: 0;
}

.comment-section-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 4rem;
}

.comment-section-box input {
  border: 1px solid black;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.comment-form {
  display: flex;
  flex-direction: row;
}

/* For the like button */
button.like-button {
  font-size: 0.8rem;  /* makes the font smaller */
  padding: 2px 2px;  /* smaller padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.like-button:hover {
  background-color: #eee;  /* a subtle hover effect */
}
