.comment-section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  width: 100%;
  margin-top: 5px;
}

.comment-section-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 4rem;
  background-color: var(--button-background);
}

.comment-form input {
  border: 1px solid black;
  width: 100%;
  padding: 6px 10px;
  font-size: 0.875rem;
  max-width: 700px;
  flex-grow: 1;
  padding: 10px;
  border-radius: var(--card-radius);

}

.comment-form {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 500px;

}

/* For the like button */
button.like-button {
  font-size: 0.8rem; /* makes the font smaller */
  padding: 2px 2px; /* smaller padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.like-button:hover {
  background-color: #eee; /* a subtle hover effect */
}
