/* CustomAccordion.css */

h3 {
  margin: 0px;
}

.channel-category-box, .clear-apply-button-box {
  width: 100%;
}

.button-box {
  display: flex;
  width: 100%;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.custom-accordion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 10px;
  color: black;
  /* width: 500px; */
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.accordion-summary {
  cursor: pointer;
  width: 100%;
  /* Additional styles for the summary section */
}

.accordion-details {
  display: none;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
  border-radius: 8px;
  /* Additional styles for the details section */
}

/* When accordion is active */
.custom-accordion .accordion-details.open {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  background-color: aliceblue;
  z-index: 2;
  max-height: 500px; 
  /* Additional styles for the active state */
}

.accordion-option {
  width: 100%;
  display: flex;
  padding-right: 5px;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(210, 206, 202);
  cursor: pointer;
  /* width: 20px; */
  height: 20px;
  /* position and style the button */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .custom-accordion, .accordion-details.open {
    width: calc(100% - 20px); /* Full width minus margin */
    box-sizing: border-box; /* Include padding and border in the element's width */
  }

  .accordion-details {
    top: 100%; /* Position the details below the summary */
    left: 0;
    width: calc(100% - 20px); /* Full width minus margin */
  }

  .button-box {
    padding: 10px; /* Increase padding for touch targets */
  }

  .close-button {
    padding: 10px; /* Increase padding for touch targets */
    width: auto; /* Auto width based on content */
  }
}
