/* dashboard.css */
/* .dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
} */

.drawer-link {
  cursor: pointer;
}

.dashboard-sidebar {
  display: none;
  width: 250px;
  background-color: #2c3e50;
  color: white;
  /* ... */
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  background-color: var(--alt-menu-background-color);
  width: 100%;
  /* ... */
}

.dashboard-header {
  background-color: #3498db;
  color: white;
  /* ... */
}

.header-top {
  display: flex;
  padding: 1rem 0.5rem 0rem;
}

.dashboard-header h1 {
  margin: 0.5rem;
}

.dashboard-user-details {
  text-align: justify;
  padding: 0.5rem;
}

.dashboard-user-details p {
  color: whitesmoke;
  padding-left: 1rem;
}

.invite-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.invite-form {
  display: flex;
  flex-direction: column;
}

.invite-title {
  display: flex;
  justify-content: flex-start;
}

.invite-input-box {
  display: flex;
}

.invite-input-box input {
  min-width: 300px;
  max-width: 600px;
  width: 30%;
  padding-left: 1rem;
}

.dashboard-content {
  padding: 20px;
  /* background-color: var(--alt-menu-background-color); */
  /* ... */
}

.header-and-all-info {
  display: flex;
  flex-direction: column;
}

.all-pending-invites {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 35rem;
}

.table-header {
  display: flex;
}

.all-user-info {
  display: flex;
  margin-bottom: .5rem;
}

.user-name-email, .user-phone-role {
  display: flex;
}

.user-detail {
  display: flex;
  width: 15rem;

}

.user-name-detail {
  display: flex;
  width: 10rem;
}

.user-phone-detail {
  display: flex;
  width: 10rem;
}

.user-role-detail {
  display: flex;
  width: 5rem;
}

.card {
  /* background-color: var(--alt-menu-background-color); */
  margin: 10px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  /* ... */
}

/* .dashboard-content table {
  background-color: var(--alt-menu-background-color);
} */

/* Add more styling as per your needs */
@media (max-width: 1000px) {
  .dashboard-container {
    font-size: small;
  }
}

@media (max-width: 800px) {
  .table-header {
    display: none;
  }

  .user-name-email, .user-phone-role {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .dashboard-container {
    font-size: small;
  }

}

@media (max-width: 500px) {
  .all-user-info {
    flex-direction: column;
  }

  .dashboard-container {
    font-size: x-small;
  }
}