.menu-section-admin {
  padding: 8px;
  background-color: var(--menu-background-color);
}

.menu-section-admin.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.MuiListItemButton-root.Mui-selected {
  background-color: var(--dashboard-background-color);
  color: var(--text-color);
}

.MuiListItemButton-root.Mui-selected:hover {
  background-color: var(--dashboard-background-color);
  color: var(--text-color);
}

.MuiListItemButton-root.Mui-selected {
  border-left: 4px solid var(--primary-blue);
}

