.date-filter-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.start-filter,
.end-filter {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--outlined-button-bg);
  border: 2px solid var(--outlined-button-border);
  color: var(--text-color);
  border-radius: var(--card-radius);
  padding: 0 1.5rem;
}

.start-filter:hover,
.end-filter:hover {
  background-color: var(--outlined-button-hover);
}

/* 💡 Target inner input */
.date-picker-input input {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  font-size: 1rem;
  color: var(--text-color);
  font-family: inherit;
  box-shadow: none !important;
}

@media (min-width: 1100px) {
  /* Styles for large tablets in portrait/landscape */
  .date-filter-box {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
