/* fadeImage.css */

.fade-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(12px);
  opacity: 0;
  transition: filter 0.35s ease, opacity 0.35s ease;
}

.fade-image-loaded {
  filter: blur(0px);
  opacity: 1;
}
