.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--header-title);
  box-shadow: 0 5px 5px rgba(229, 229, 241, 0.5);
  padding: 0.2rem .5rem;
}

.header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  width: 100%;
  padding-right: 2rem;
}

.header-buttons {
  display: flex;
}

.capture-display-btn {
  display: none;
}

.hamburger-menu-button {
  display: flex;
  cursor: pointer;
  z-index: 11;
  font-size: 30px;
  color: whitesmoke;
  margin-right: 1rem;
}

.website-title p {
  margin: 0;
}

.website-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0rem 1rem;
  font-size: smaller;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.website-title h1, .website-title p {
  margin: 1px 0px 0px;
}

.profile-btn {
  width: 14rem;
  font-size: smaller;
}

.profile-btn {
  margin-right: 30px;
  max-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-buttons {
  display: none;
}


/* Styles for mobile devices */
@media (max-width: 780px) {
  /* Your styles for mobile devices */
  /* .header-bar h1 {
    font-size: 1rem;
  }
  .header-bar h4 {
    font-size: .8rem;
  }

  .profile-btn {
    padding: .5rem;
    width: 9rem;
  }

  .create-post-btn {
    width: 7rem;
  }

  .button {
    padding: .5rem;
    width: 5rem;
  } */

}
/* Styles for mobile devices */
@media (max-width: 670px) {
  /* Your styles for mobile devices */
  /* .hamburger-menu-button {
    display: block;
  }

  .create-post-btn, .filter-menu-button {
    display: none;
  } */
}


/* Mobile devices */
@media (max-width: 320px) {
  /* Styles for small smartphones */
}

@media (min-width: 321px) and (max-width: 375px) {
  /* Styles for medium smartphones */
}

@media (min-width: 376px) and (max-width: 414px) {
  /* Styles for large smartphones */
}

/* Filling the gap for devices between 414px and 600px */
@media (min-width: 415px) and (max-width: 599px) {
  /* Styles for devices in this range */
}

/* Tablets */
@media (min-width: 600px) and (max-width: 768px) {
  
}

@media (min-width: 769px) and (max-width: 899px) {
  /* Styles for large tablets in portrait/landscape */
}

@media (min-width: 900px)  {
  /* Styles for large tablets in portrait/landscape */
  .hamburger-menu-button {
    display: none;
  }

  .menu-buttons {
    display: flex;
  }

  .capture-display-btn {
    display: flex;
  }
 
}

/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1366px) {
  /* Styles for small to medium screens */
}

@media (min-width: 1367px) and (max-width: 1920px) {
  /* Styles for large screens */
}

@media (min-width: 1921px) {
  /* Styles for extra-large screens */
}
