.image-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-modal-content {
  /* background: #fff; */
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 95vw;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
}

.blur-up-image-wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-up-image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  display: block;
  transition: opacity 0.5s ease;
}


.low-res {
  filter: blur(5px);
  transform: scale(1.05);
  position: absolute;
  top: 0;
  left: 0;
}

.full-res {
  position: relative;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.close-modal {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  /* background: transparent; */
  background-color: var(--border-color);
  border: none;
  color: #444;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease;
  padding: 4px;
  line-height: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.close-modal:hover {
  color: #000;
}

/* Constrain the FadeImage inside the modal properly */
.image-modal-img {
  width: 100%;
  height: auto !important; /* force intrinsic scaling */
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain !important;
}
