.left-side-bar {
  min-width: 200px;
  background-color: var(--charcoal-grey);
  height: 100%;
  margin: 5px;
  width: 100%;
  padding: 5px;
}

.onboarding-tutorial-intro-box {
  min-width: 25%;
  justify-content: center;
  align-items: center;
  background: var(--post-card-background);
  border-radius: 5px;
  margin: 5px 5px;
  background: var(--tutorial-button-color);
}

.left-side-bar button {
  max-width: 100%;
}
