.left-message-board {
  display: flex;
  flex-wrap: wrap;
  background: var(--post-card-background);
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  color: var(--text-color);
}
