/* menuTab.css */
.menu-tab {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  top: 0%;
  right: -100%; /* Initially hidden */
  /* background-color: var(--menu-background-color); */
  z-index: 5;
  transition: left 1s ease-in-out;
  border-bottom-left-radius: 10px;
  /* border-top-left-radius: 10px; */
}

.menu-tab.open {
  left: 60%;
  border-radius: 50%; /* Slide in */
  height: 35%;
  background-color: blue;
  top: -16%;
}

.menu-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* width: 100%; */
  height: 80px;
  width: 80px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background: var(--ivory-black);
  background: var(--ivory-black);
  color: white;
  /* border-bottom-left-radius: 30px; */
  margin: 5px;
  border-radius: 50%;
}

.create {
  position: fixed;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 12%;
  background-color: greenyellow;
  color: #000;
}

.bottom {
  position: fixed;
  left: 75%;
  top: 15%
}

.option-top {
  position: fixed;
  top: 1%;
}

/* Add responsive styling if needed */
/* Mobile devices */
@media (max-width: 320px) {
  /* Styles for small smartphones */
}

@media (min-width: 321px) and (max-width: 375px) {
  /* Styles for medium smartphones */
}

@media (min-width: 376px) and (max-width: 414px) {
  /* Styles for large smartphones */
}

/* Filling the gap for devices between 414px and 600px */
@media (min-width: 415px) and (max-width: 599px) {
  /* Styles for devices in this range */
}

/* Tablets */
@media (min-width: 600px) and (max-width: 768px) {
  /* Styles for small tablets in portrait */
}

@media (min-width: 769px) and (max-width: 899px) {
}

@media (min-width: 900px) {
  /* Styles for large tablets in portrait/landscape */
  .filters-option {
    display: none;
  }
}

/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1366px) {
  /* Styles for small to medium screens */
}

@media (min-width: 1367px) and (max-width: 1920px) {
  /* Styles for large screens */
}

@media (min-width: 1921px) {
  /* Styles for extra-large screens */
}
