/* menuTab.css */
.menu-tab {
  position: fixed;
  width: 80%;
  top: 0;
  right: -100%; /* Initially hidden */
  background-color: transparent;
  z-index: 5;
  transition: left 1s ease-in-out;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.menu-tab.open {
  right: 0; /* Slide in */
}

.menu-option {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background: var(--ivory-black);
  color: white;
  /* border-bottom-left-radius: 30px; */
  margin: 5px;
}

/* Add responsive styling if needed */
