.map-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.map-box {
  border-radius: 5px;
}

.store-input-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.store-input-box p {
  color: var(--text-color);
  margin: 10px 0px 0px;
}

.store-name-input-box, .store-number-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#store-name {
  width: 150px;
}

#store-number {
  width: 80px;
}
 
input {
  margin-top: 5px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  /* Your styles for tablets */
  .store-input-box {
  /* flex-direction: column; */
  }
}