/* Base Styles */
.tutorial-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px; /* Adjust based on your design preference */
  text-align: center;
}

.flip-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.flip-section h1,
.flip-section h2 {
  color: #333; /* Adjust color based on your theme */
}

/* p {
  color: #666; Adjust color based on your theme
  line-height: 1.6;
} */

/* Responsive Styles */
@media (max-width: 768px) {
  .tutorial-container {
    padding: 10px;
  }

  .tutorial-container h1 {
    font-size: 24px; /* Smaller font size for smaller screens */
  }

  .tutorial-container button {
    padding: 8px 15px;
    font-size: 14px;
  }
}


