.user-posts-container {
  display: flex;
  flex-direction: column;
}

.post-row {
  display: grid;
  grid-template-columns: auto 1fr 2fr auto;
  gap: 16px;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
}

.post-image-container img {
  width: 100%; /* Adjust to the size of your thumbnails */
  height: auto;
  object-fit: cover;
}

/* .post-image-container button { */
  /* Styling for your view button */
/* } */

.post-store-info {
  display: flex;
  flex-direction: column;
}

/* .post-hashtags .hashtag { */
  /* Existing styles */
/* } */

/* .post-actions button { */
  /* Styling for your delete button */
/* } */

/* Responsive design */
@media (max-width: 768px) {
  .post-row {
    grid-template-columns: 1fr;
  }

  .post-image-container img {
    width: 100%;
    margin-bottom: 8px;
  }

  .post-image-container,
  .post-store-info,
  .post-hashtags,
  .post-actions {
    text-align: center;
  }
}



