 /* App.css */
#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}

/* text fields */
.MuiInputBase-root {
  margin: 8px;
  width: 50ch;
}

/* // CSS (pseudo code) */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .filter-button {
    display: block;
  }
}

@media (min-width: 769px) {
  .filter-button {
    display: none;
  }
  .sidebar {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}
