/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* Light theme */
  --light-background-color: #ffffff;
  --light-text-color: #242424;
  --light-button-background: #eaeaea;

  /* Dark theme */
  --dark-background-color: #242424;
  --dark-text-color: rgba(255, 255, 255, 0.87);
  --dark-button-background: #1a1a1a;

  /* Current theme - default to light */
  --background-color: var(--light-background-color);
  --text-color: var(--light-text-color);
  --button-background: var(--light-button-background);
}

[data-theme="dark"] {
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --button-background: var(--dark-button-background);

  .sign-up-body {
    --background-color: rgb(35, 21, 61);
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* padding-bottom: 2rem; */
  overflow-x: hidden;
  overflow-y: visible;
  background: rgb(58, 115, 255);
  background: linear-gradient(
    0deg,
    rgba(58, 115, 255, 1) 61%,
    rgba(35, 38, 60, 1) 99%
  );
}

#root {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: whitesmoke;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.create-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  scroll-behavior: smooth;
  /* transform: translate(-50%, -50%); */
}

/* Default styles for desktops and larger screens here */

/* Styles for tablets */
@media (max-width: 1200px) {
  /* Your styles for tablets */
}

/* Styles for mobile devices */
@media (max-width: 900px) {
  /* Your styles for mobile devices */

  .mobile-filter-button {
    display: block;
  }
}

@media screen and (min-width: 900px) {
}
