/* index.css */
:root {
  /* Define color palette */
  --prussian-blue: #0B3C5D;
  --sky-blue: #328CC1;
  --gold-leaf: #D9B310;
  --ivory-black: #1D2731;
  --coral: #ff6f61;
  --sage-green: #9cafb7;
  --charcol-grey: #36454f;

  /* Default theme (light) */

  --background-color: var(--sky-blue);
  --text-color: var(--ivory-black);
  --header-title: var(--sage-green);
  --button-background: var(--gold-leaf);
  --button-text-color: var(--prussian-blue);
  --border-color: var(--gold-leaf);
  --input-background: var(--sage-green);
  --input-text-color: var(var(--ivory-black));
  
  /* Common styles */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  /* Dark theme overrides */
  --background-color: var(--ivory-black);
  --text-color: var(--gold--leaf);
  --header-title: var(--charcol-grey);
  --button-background: var(--prussian-blue);
  --button-text-color: var(--gold-leaf);
  --border-color: var(--sky-blue);
  --input-background: var(--ivory-black);
  --input-text-color: var(var(--gold-leaf));
}

/* Assuming the use of CSS custom properties defined in :root */
/* Light Mode */
a {
  font-weight: 500;
  color: var(--sky-blue); /* Sky Blue for light mode */
  text-decoration: inherit;
}

a:hover {
  color: darken(var(--sky-blue), 10%); /* Slightly darker Sky Blue on hover */
}

/* Dark Mode */
[data-theme="dark"] a {
  color: var(--gold-leaf); /* Gold Leaf for dark mode */
}

[data-theme="dark"] a:hover {
  color: lighten(var(--gold-leaf), 10%); /* Slightly lighter Gold Leaf on hover */
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* padding-bottom: 2rem; */
  overflow-x: hidden;
  overflow-y: visible;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  color: var(--button-text-color);
  border-color: var(--border-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Default styles for desktops and larger screens here */

/* Styles for tablets */
@media (max-width: 1200px) {
  /* Your styles for tablets */
}

/* Styles for mobile devices */
@media (max-width: 900px) {
  /* Your styles for mobile devices */

  .mobile-filter-button {
    display: block;
  }
}

@media screen and (min-width: 900px) {
}
