/* index.css */
:root {
  /* Define color palette */
  --prussian-blue: #0b3c5d;
  --sky-blue: #328cc1;
  --gold-leaf: #d9b310;
  --ivory-black: #1d2731;
  --coral: #ff6f61;
  --sage-green: #9cafb7;
  --charcoal-grey: #36454f;
  --stark: #e7dfdd;
  --apple-core: #dcc7aa;
  --blueberry: #6b7a8f;
  

  /* Default theme (light) */

  --background-body: rgb(202,218,221);
  --background-body: linear-gradient(173deg, rgba(202,218,221,1) 25%, rgba(233,229,211,1) 88%);
  --background: rgb(107, 122, 143);
  --background: linear-gradient(
    141deg,
    rgba(107, 122, 143, 1) 0%,
    rgba(240, 238, 234, 1) 100%
  );
  --post-card-background: whitesmoke;
  --text-color: var(--ivory-black);
  --header-title: var(--sage-green);
  --button-background: var(--gold-leaf);
  --button-text-color: var(--prussian-blue);
  --border-color: var(--gold-leaf);
  --input-background: var(--sage-green);
  --input-text-color: var(--ivory-black);
  --form-background-color: var(--sage-green);
  --menu-background-color: var(--sky-blue);
  --alt-menu-background-color: var(--stark);
  --footer-background-color: var(--sky-blue);

  /* Common styles */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  /* Dark theme overrides */
  --background-body: var(--ivory-black);
  --post-card-background:rgb(4,12,32);
  --text-color: var(--gold-leaf);
  --header-title: var(--charcoal-grey);
  --button-background: var(--prussian-blue);
  --button-text-color: var(--gold-leaf);
  --border-color: var(--sky-blue);
  --input-background: var(--ivory-black);
  --input-text-color: var(--gold-leaf);
  --form-background-color: var(--charcoal-grey);
  --menu-background-color: var(--blueberry);
  --alt-menu-background-color: var(--charcoal-grey);
  --footer-background-color: var(--charcoal-grey);
}

/* Assuming the use of CSS custom properties defined in :root */
/* Light Mode */
a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: darken(var(--stark), 10%); /* Slightly darker Sky Blue on hover */
}

/* Dark Mode */
[data-theme="dark"] a {
  color: var(--gold-leaf); /* Gold Leaf for dark mode */
}

[data-theme="dark"] a:hover {
  color: lighten(
    var(--gold-leaf),
    10%
  ); /* Slightly lighter Gold Leaf on hover */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* padding-bottom: 2rem; */
  overflow-x: hidden;
  overflow-y: visible;
  background: var(--background-body);
  color: var(--text-color);
}

#root {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  color: var(--button-text-color);
  border-color: var(--border-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Overlay Style */
.user-modal-overlay {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background to focus on the modal */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s;
  z-index: 2000;
}

/* Default styles for desktops and larger screens here */

/* Styles for tablets */
@media (max-width: 1200px) {
  /* Your styles for tablets */
}

/* Styles for mobile devices */
@media (max-width: 900px) {
  /* Your styles for mobile devices */

  .mobile-filter-button {
    display: block;
  }
}

@media screen and (min-width: 900px) {
}
