/* index.css */

html,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* height: 100%; */
  width: 100vw;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  background-color: var(--background-body);
  color: var(--text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100%;
}

html {
  scroll-behavior: smooth; /* smooth anchor scrolling */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  line-height: 1.1;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Mobile devices */
@media (max-width: 320px) {
  /* Styles for small smartphones */
}

@media (min-width: 321px) and (max-width: 375px) {
  /* Styles for medium smartphones */
}

@media (min-width: 376px) and (max-width: 414px) {
  /* Styles for large smartphones */
}

/* Tablets */
@media (min-width: 600px) and (max-width: 768px) {
  /* Styles for small tablets in portrait */
}

/* Styles for mobile devices */
@media (max-width: 900px) {
  /* Your styles for mobile devices */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for large tablets in portrait/landscape */
  .mobile-filter-button {
    display: block;
  }
}

/* Laptops and Desktops */
@media (min-width: 1024px) and (max-width: 1366px) {
  /* Styles for small to medium screens */
}

@media (min-width: 1367px) and (max-width: 1920px) {
  /* Styles for large screens */
}

@media (min-width: 1921px) {
  /* Styles for extra-large screens */
}
