.about-container {
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color);
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-button,
.cta-button {
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  background-color: var(--button-background);
  /* color: var(--button-text-color); */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover,
.cta-button:hover {
  background-color: var(--sky-blue);
}

.about-content {
  margin-bottom: 40px;
}

.about-cta {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .about-container {
    width: auto;
    padding: 1rem;
  }

  .about-navigation {
    flex-direction: column;
  }

  .nav-button,
  .cta-button {
    margin-bottom: 10px;
  }
}
